body {
  background: #1E1B3A;
  color: #fff;
  margin: 0;
  padding: 0;
}

.default-padding {
  padding: 0% 15%;
}

.white {
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 80%;
  padding: 5px 15%;
  background: #0000001a;
}

.nav-link {
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  padding: 5px;
}

.nav-link:hover {
  color: lightseagreen;
}

.nav-link:focus {
  color: lightseagreen;
  border-bottom: lightseagreen 1px solid;
}

.text-justify {
  text-align: justify;
}

.text-grad-purple {
  background: linear-gradient(95.79deg, #2317FA -33%, #ea00ff 97%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .App {
  text-align: center;
} */
.welcome-text {
  background: #09090971;
  width: fit-content;
  padding: 0px 15px;
  border-radius: 5px;
  margin-top: 8%;
}

.pwidth {
  width: 23%;
}

.russo-font {
  font-family: 'Russo One', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.gap {
  gap: 1rem;
}

.banner-container {
  padding-top: 50px;
  background: url(./images/Space-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.headline {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.start-btn {
  display: block;
  margin-top: 25px;
  background: linear-gradient(95.79deg, #2317FA -33%, #ea00ff 97%);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.5s;
}


/* On hover a border comes and the button glows */
.start-btn:hover {
  background: linear-gradient(95.79deg, #ea00ff -33%, #2317FA 97%);
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 0px #ea00ff;
}

/* Menu bar */
.menu {
  display: none;
  cursor: pointer;
  transition: 0.5s;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #c4c4c4;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.navlinks {
  display: flex;
}


/* Mobile Responsive */
@media (max-width: 768px) {
  .default-padding {
    padding: 0% 5%;
  }

  .headline {
    font-size: 3.5rem;
    margin-top: 35px;
  }

  .pwidth {
    width: 70%;
    margin-top: 35px;
  }

  .welcome-text {
    margin-top: 35%;
  }

  .dnone {
    display: none;
  }

  .start-btn {
    margin-top: 35px;
  }

  .navbar {
    position: fixed;
    justify-content: space-between;
    padding: 0% 5%;
    width: 90%;
    top: 5px;
    right: 0;
    left: 0;
  }

  .nav-link {
    width: 100%;
  }

  .menu {
    display: inline-block;
  }

  .block {
    display: block;
    animation: reveal 1s;
  }

  .dnone {
    display: none;
  }

  .navlinks {
    position: fixed;
    background: #2a2655;
    padding: 10px 0px;
    margin: 0;
    right: 0;
    left: 0;
    border-radius: 10px;
  }

  .nav-link {
    display: block;
    padding: 10px 20px;
    width: 100%;
    margin: 0;
  }

  .nav-link:hover {
    background: #3f3a7c;
  }

  .banner-container {
    background-size: cover;
  }

  @keyframes reveal {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

}

.red {
  color: red;
}

.green {
  color: #43d143;
}

.orange {
  color: orange;
}


.mission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.mission-container div {
  background: #231E44;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: #242424a8 0px 0px 20px 1px;
}

.mission-container div:hover {
  background: linear-gradient(95.79deg, #2317FA -33%, #ea00ff 97%);
}

.mission-container img {
  width: 150px;
  height: 150px;
}

.mission-container p {
  text-align: justify;
}

.spaceship-container {
  margin-top: 20px;
}

.filter-options {
  margin-bottom: 20px;
}

.ship-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: center;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background: #2D2853;
  padding: 10px;
  border-radius: 5px;
}

select {
  background-color: #2D2853;
  border: none;
  color: whitesmoke;
  margin-right: 15px;
}

.search input {
  background-color: #2D2853;
  border: none;
  color: whitesmoke;
  padding: 5px 10px;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
  border: 1px solid #3f3872;
}

.search input:hover {
  background-color: #3f3a7c;
}

.search button {
  background-color: #2D2853;
  border: none;
  color: whitesmoke;
  padding: 5px 10px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  border: 1px solid #3f3872;
}

.search button:hover {
  background-color: #3f3a7c;
}

.ship {
  background: #1D0C41;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: #242424a8 0px 0px 20px 1px;
  transition: 0.5s;
}

.ship img {
  width: 150px;
  height: 150px;
}

.ship p {
  color: #c4c4c4;
}

.ship:hover {
  transform: scale(1.05);
  box-shadow: #242424a8 0px 0px 20px 1px;
}

.newsletter {
  background: #18163B;
  padding: 1rem;
  text-align: center;
}

.newsletter h1 {
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.newsletter p {
  color: #c4c4c4;
}

.newsletter input {
  background-color: #2D2853;
  border: none;
  color: whitesmoke;
  padding: 5px 10px;
  /* border-radius: 5px 0px 0px 5px; */
  cursor: pointer;
  border: 1px solid #3f3872;
  width: 250px;
  height: 38px;
}

.newsletter input:hover {
  background-color: #3f3a7c;
}

.newsletter button {
  background-color: #2D2853;
  border: none;
  color: whitesmoke;
  padding: 5px 20px;
  /* border-radius: 0px 5px 5px 0px; */
  cursor: pointer;
  border: 1px solid #82004c;
  height: 50px;
}

.newsletter button:hover {
  background-color: #8c0069;
}

.footer {
  background: #18163B;
  padding: 1rem;
  color: #c4c4c4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer a {
  color: rgb(200, 200, 200);
}