body {
  background: #1E1B3A;
  color: #fff;
  margin-top: 10px;
}

.white {
  color: #fff;
}

.App {
  text-align: center;
}

.russo-font {
  font-family: 'Russo One', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.gap {
  gap: 1rem;
}